<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts" version="0.8.3-pre" targetFramework="net47" />
  <package id="SkiaForms" version="1.0.0-pre3" targetFramework="net47" />
  <package id="SkiaForms.Gtk2" version="1.0.0-pre3" targetFramework="net47" />
  <package id="SkiaSharp" version="1.60.2" targetFramework="net47" />
  <package id="SkiaSharp.Views" version="1.60.2" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
  <package id="Xamarin.Forms" version="3.1.0.583944" targetFramework="net47" />
  <package id="Xamarin.Forms.Platform.GTK" version="3.1.0.583944" targetFramework="net47" />
</packages>